.appointment-list {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
  }

  .appointment-list h2 {
    margin-bottom: 20px; /* Ajusta el valor según lo que necesites */
  }
  